.container-login {
    display: table;
    margin: 200px auto;
    text-align: center;
}

.heading, .login{
    text-align: center;
}
.login-body {
    margin: 50px auto;
    width: 500px;
    border: 1px solid #000;
    padding: 10px;
}

.input-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.submitbtn {
    text-align: center;
}