<div class="container-login">
    <img src="../../assets/img/BITS_Pilani-Logo.svg" />
    <h1 class="heading">Birla Healthcare</h1>
    <div class="login- form">
            <form autocomplete="chrome-off" name="loginform">
                <div class="input-wrapper">
                    <input id="username" name="mobile" type="text" placeholder="User Name" required="required"
                    autocomplete="off" class="input-box">  
                </div>
                <div class="input-wrapper">
                    <input id="password" name="mobile" type="password" placeholder="Password" required="required"
                        autocomplete="off" class="input-box">
                </div>
            </form>
            <div class="action">
                <button type="button" class="btn btn-primary" routerLink="/landing-page" routerLinkActive="active">Login</button>
            </div>
    </div>
    
</div>